openapi: 3.2.0
info:
  title: rest-api Account API
  version: 1.0.0
  description: "Refer to our website to know more about [Clari Copilot](https://www.clari.com/products/copilot/).\n\n**To learn how to use the Clari Copilot API, please follow this <a href=\"https://community.clari.com/product-q-a-6/how-to-use-copilot-apis-2258\" target=\"_blank\">integration guide (link)</a>.**<br/> It explains how you get your API key, gives context on how the endpoints work together, and provides example code.\n\n# Authentication\n\nYou need to pass both API key and password in specified headers to authenticate with Clari Copilot API.\n\nExample curl command fetching users:\n\n<blockquote>\n  <code>\n    curl -H \"X-Api-Key:&lt;your_api_key&gt;\" -H \"X-Api-Password:&lt;your_api_password&gt;\" \"https://rest-api.copilot.clari.com/users\"\n  </code>\n</blockquote>\n\nYou'll find API key and secret in workspace settings > integrations > Clari Copilot API\n\n<img src=\"/assets/workspace-settings.png\" width=150 /><img src=\"/assets/integrations.png\" width=200 /><img src=\"/assets/apikey.png\" width=200 />\n\n<SecurityDefinitions />\n\n# Rate limit\n\nDefault rate limit is 10 per second.\n\nAlso 100k requests per week is also imposed. Week starts every Sunday 0 GMT.\n\n# Example\n\nHere is a python script that demonstrate how to fetch calls and print csv: <a href=\"./copilot_calls_example.py\" download>Calls example</a>\n\nHere is a python script that demonstrate how to use CRM endpoints: <a href=\"./copilot_crm_example.py\" download>CRM example</a>\n\n# Deprecation\n\nThis api's old domain https://rest-api.trywingman.com is deprecated and will be supported till end of 2023 to allow existing clients to migrate.\n"
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: account
  description: Accounts in CRM
paths:
  /create-account:
    post:
      tags:
      - account
      summary: Create account
      description: Creates a data for new account in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountWithoutId'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
  /get-account:
    get:
      tags:
      - account
      summary: Read account
      description: Returns details of account with source id passed as query param
      parameters:
      - name: id
        in: query
        description: source id of the account
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
  /update-account:
    put:
      tags:
      - account
      summary: Update account
      description: Creates a data for new account in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
  /delete-account:
    delete:
      tags:
      - account
      summary: Delete account
      description: Returns details of last snapshot of the deleted account
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  description: source id of account
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
components:
  schemas:
    CustomField:
      title: Custom key value field for any document
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Account:
      title: Account object
      type: object
      allOf:
      - type: object
        properties:
          id:
            description: Id of account in Copilot
            type: string
      - $ref: '#/components/schemas/AccountWithoutId'
    AccountWithoutId:
      title: Account object
      type: object
      properties:
        crm_id:
          description: Id of the company in the source CRM/system
          type: string
        name:
          description: Name of the company
          type: string
        phones:
          description: All the phone details of the company
          type: array
          items:
            type: string
        description:
          description: Description about the company
          type: string
        website:
          description: Website address of the company
          type: string
        address:
          description: Full address of the company
          type: string
        city:
          description: City where the company is registered in.
          type: string
        state:
          description: State where the company is registered in.
          type: string
        country:
          description: Country where the company is situated.
          type: string
        zip:
          description: Zip code of the registered address.
          type: string
        custom_fields:
          description: Other relevant custom fields.
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
