openapi: 3.2.0
info:
  title: rest-api Contact API
  version: 1.0.0
  description: Refer to our website to know more about Clari Copilot.
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: Contact
  description: Contacts in CRM
paths:
  /create-contact:
    post:
      tags:
      - Contact
      summary: Create contact
      description: Creates a data for new contact in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactWithoutId'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: postCreateContact
      x-operation-id-source: derived
  /get-contact:
    get:
      tags:
      - Contact
      summary: Read contact
      description: Returns details of contact with source id passed as query param
      parameters:
      - name: id
        in: query
        description: source id of the contact
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getGetContact
      x-operation-id-source: derived
  /update-contact:
    put:
      tags:
      - Contact
      summary: Update contact
      description: Update a data for new contact in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: putUpdateContact
      x-operation-id-source: derived
  /delete-contact:
    delete:
      tags:
      - Contact
      summary: Delete contact
      description: Returns details of last snapshot of deleted contact
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  description: source id of contact
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: deleteDeleteContact
      x-operation-id-source: derived
components:
  schemas:
    CustomField:
      title: Custom key value field for any document
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ContactWithoutId:
      title: Contact object
      type: object
      properties:
        crm_id:
          description: Id of the contact in the source CRM system.
          type: string
        account_crm_id:
          description: Account id as per the source
          type: string
        first_name:
          description: First name of the contact
          type: string
        last_name:
          description: Last name of the contact
          type: string
        job_title:
          description: Job title of the contact
          type: string
        phones:
          description: All the phone numbers of the contact
          type: array
          items:
            type: string
        stage:
          description: Stage of the contact
          type: string
        reason:
          description: Reason of the contact
          type: string
        emails:
          description: All the emails of the contact
          type: array
          items:
            type: string
        is_lead:
          description: If the contact is in lead stage
          type: boolean
        custom_fields:
          description: Other relevant customer fields
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
    Contact:
      title: Contact object
      type: object
      allOf:
      - type: object
        properties:
          id:
            description: Id of contact in Copilot
            type: string
      - $ref: '#/components/schemas/ContactWithoutId'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
