openapi: 3.2.0
info:
  title: Clari API Reference Opportunity API
  version: 5.0.0
  description: '# Clari API Reference

    Clari is the heartbeat of your revenue organization and holds your most important revenue data.'
  contact:
    name: us here! We're always happy to help with any questions.
    email: support@clari.com
servers:
- url: https://api.clari.com/{basePath}
  description: Clari gateway
  variables:
    basePath:
      default: v4
      description: version identifier
security:
- api_key: []
tags:
- name: Opportunity API
paths:
  /opportunity:
    get:
      summary: Retrieve opportunity data
      description: 'You can retrieve opportunity related data from Clari. To create your request, you will need to pass your `apikey` in as a header, the one or more `oppId` in the request path, and optional `mode` query parameter.


        EXAMPLE: `/opportunity?oppId=005Z00000038x09IAA&oppId=006Z000000EPuiyIAD&mode=OPPORTUNITY_MODE_ID`'
      operationId: externalOpportunityResource
      tags:
      - Opportunity API
      parameters:
      - name: apikey
        in: header
        description: Authentication token
        required: true
        schema:
          type: string
      - name: oppId
        in: query
        description: specific one or more Opportunity ID
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          maxItems: 100
        example: 005Z00000038x09IAA
      - name: mode
        in: query
        description: Clari mode ID
        required: false
        schema:
          type: string
          default: OPPORTUNITY_MODE_ID
      responses:
        '200':
          description: Return an array of Opportunity Export Items.
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Opportunity Export Object
                  description: Opportunity Export - oppId, crmScore and fields
                  type: object
                  properties:
                    id:
                      description: Unique Identifier
                      type: string
                      example: 005Z00000038x09IAA
                    crmScore:
                      description: Opportunity CRM crmScore
                      type: object
                      properties:
                        message:
                          type: string
                          example: Opportunity is lost
                        score:
                          type: integer
                          example: 0
                    fields:
                      description: List of fields
                      type: array
                      items:
                        description: Opportunity Field Object
                        type: object
                        properties:
                          id:
                            type: string
                            example: opportunity.amount
                          alias:
                            type: string
                          imageUrl:
                            type: string
                            example: /images/CardOppSunny@2x.png
                          trendHistory:
                            type: array
                            items:
                              type: object
                              properties:
                                oldValue:
                                  type: object
                                newValue:
                                  type: object
                                date:
                                  description: specifies date as long
                                  type: integer
                                  format: int64
                                  example: 1605312000000
                          trend:
                            type: string
                          value:
                            description: Can be any value - string, number, boolean, array or object.
                          originalValue:
                            $ref: '#/paths/~1opportunity/get/responses/200/content/application~1json/schema/items/properties/fields/items/properties/value'
        4XX:
          description: 'Client Error


            For example {statusCode:400, reaspnPhrase:"Bad Request", description:"invalid query parameter", "details": "oppId is required"}'
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Error Object
                  type: object
                  description: A Clari API-compliant error object. An array of details about specific errors that led to this reported error.
                  properties:
                    statusCode:
                      description: an application-specific error code
                      type: integer
                    reaspnPhrase:
                      description: give a short textual description of the Status-Code
                      type: string
                    description:
                      description: The description of the error.
                      type: string
                    details:
                      description: A String containing more specific information than the current object about the error.
                      type: string
        5XX:
          description: 'Server Error


            For example {statusCode:500, reaspnPhrase:"Server Error", description:"NullPointerException", "details": "Cannot initialize ExternalOpportunityResource"}'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/paths/~1opportunity/get/responses/4XX/content/application~1json/schema/items'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: apikey
      in: header
