openapi: 3.2.0
info:
  title: rest-api User API
  version: 1.0.0
  description: Refer to our website to know more about Clari Copilot.
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: User
  description: Users in Copilot
paths:
  /users:
    get:
      tags:
      - User
      summary: List users
      description: Returns current users in Copilot system
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getUsers
      x-operation-id-source: derived
components:
  schemas:
    User:
      title: User object
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum:
          - REP
          - MANAGER
          - OBSERVER
        is_recording:
          type: boolean
        manager_id:
          type: string
    UsersResponse:
      title: List of users
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
