openapi: 3.2.0
info:
  title: rest-api Account API
  version: 1.0.0
  description: Refer to our website to know more about Clari Copilot.
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: Account
  description: Accounts in CRM
paths:
  /create-account:
    post:
      tags:
      - Account
      summary: Create account
      description: Creates a data for new account in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountWithoutId'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: postCreateAccount
      x-operation-id-source: derived
  /get-account:
    get:
      tags:
      - Account
      summary: Read account
      description: Returns details of account with source id passed as query param
      parameters:
      - name: id
        in: query
        description: source id of the account
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getGetAccount
      x-operation-id-source: derived
  /update-account:
    put:
      tags:
      - Account
      summary: Update account
      description: Creates a data for new account in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: putUpdateAccount
      x-operation-id-source: derived
  /delete-account:
    delete:
      tags:
      - Account
      summary: Delete account
      description: Returns details of last snapshot of the deleted account
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  description: source id of account
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: deleteDeleteAccount
      x-operation-id-source: derived
components:
  schemas:
    CustomField:
      title: Custom key value field for any document
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    AccountWithoutId:
      title: Account object
      type: object
      properties:
        crm_id:
          description: Id of the company in the source CRM/system
          type: string
        name:
          description: Name of the company
          type: string
        phones:
          description: All the phone details of the company
          type: array
          items:
            type: string
        description:
          description: Description about the company
          type: string
        website:
          description: Website address of the company
          type: string
        address:
          description: Full address of the company
          type: string
        city:
          description: City where the company is registered in.
          type: string
        state:
          description: State where the company is registered in.
          type: string
        country:
          description: Country where the company is situated.
          type: string
        zip:
          description: Zip code of the registered address.
          type: string
        custom_fields:
          description: Other relevant custom fields.
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
    Account:
      title: Account object
      type: object
      allOf:
      - type: object
        properties:
          id:
            description: Id of account in Copilot
            type: string
      - $ref: '#/components/schemas/AccountWithoutId'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
