openapi: 3.2.0
info:
  title: rest-api Deal API
  version: 1.0.0
  description: Refer to our website to know more about Clari Copilot.
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: Deal
  description: Deals in CRM
paths:
  /create-deal:
    post:
      tags:
      - Deal
      summary: Create deal
      description: Creates a data for new deal in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DealWithoutId'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: postCreateDeal
      x-operation-id-source: derived
  /get-deal:
    get:
      tags:
      - Deal
      summary: Read deal
      description: Returns details of deal with source id passed as query param
      parameters:
      - name: id
        in: query
        description: source id of the deal
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getGetDeal
      x-operation-id-source: derived
  /update-deal:
    put:
      tags:
      - Deal
      summary: Update deal
      description: Update a data for new deal in Copilot system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: putUpdateDeal
      x-operation-id-source: derived
  /delete-deal:
    delete:
      tags:
      - Deal
      summary: Delete deal
      description: Returns details of last snapshot of the deleted deal
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                  description: source id of deal
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        404:
          description: Not found
          content:
            application/json:
              schema:
                type: object
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: deleteDeleteDeal
      x-operation-id-source: derived
components:
  schemas:
    DealWithoutId:
      title: Deal object
      type: object
      properties:
        crm_id:
          description: Id of the deal in the source CRM/system
          type: string
        owner_crm_id:
          description: Id of the deal owner in the source
          type: string
        deal_name:
          description: Name of the deal
          type: string
        amount:
          description: Amount of the deal
          type: string
        close_date:
          description: Close date of the deal
          type: string
          format: date-time
        created_date:
          description: Creation date of the deal
          type: string
          format: date-time
        last_contacted:
          description: Last contacted date wrt the deal
          type: string
          format: date-time
        next_call_date:
          description: Next call date wrt deal
          type: string
          format: date-time
        stage:
          description: Stage of the deal
          type: string
        probability:
          description: Probability of the deal getting through
          type: string
        forecast_category:
          description: Forecast category for the deal
          type: string
        account_crm_id:
          description: accoundId of the source crm associated with the deal
          type: string
        stage_change_history:
          description: All the phone details of the contact
          type: array
          items:
            $ref: '#/components/schemas/StageChangeHistory'
        close_date_change_history:
          description: All the phone details of the contact
          type: array
          items:
            $ref: '#/components/schemas/CloseDateChangeHistory'
        custom_fields:
          description: Other relevant customer fields
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        deal_reason:
          description: Reason of the deal
          type: string
    StageChangeHistory:
      title: Stage change history object
      type: object
      properties:
        stage:
          type: string
        prev_stage:
          type: string
        date_changed:
          type: string
          format: date-time
    CloseDateChangeHistory:
      title: Stage change history object
      type: object
      properties:
        close_date:
          type: string
          format: date-time
        prev_close_date:
          type: string
          format: date-time
        date_changed:
          type: string
          format: date-time
    CustomField:
      title: Custom key value field for any document
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Deal:
      title: Deal object
      type: object
      allOf:
      - type: object
        properties:
          id:
            description: Id in Copilot system
            type: string
      - $ref: '#/components/schemas/DealWithoutId'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
