openapi: 3.2.0
info:
  title: rest-api Scorecard API
  version: 1.0.0
  description: Refer to our website to know more about Clari Copilot.
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: Scorecard
  description: Scorecards in Copilot
paths:
  /scorecard:
    get:
      tags:
      - Scorecard
      summary: List of scorecard
      description: 'This endpoint allows listing scorecard by different parameters.

        Filter parameters have filter prefix and sort parameters have sort prefix.

        You can fetch only 100 scorecard in page, use skip and limit to scroll through scorecards.'
      parameters:
      - name: skip
        in: query
        description: 'Skip specified number of scorecards. Defaults to 0, if not passed. Should be integer, else returns bad request error.

          '
        schema:
          default: 0
          type: integer
          minimum: 0
          maximum: 10000
      - name: limit
        in: query
        description: 'Limits the number of scorecards returned to given number. Defaults to 50, if not passed. Should be integer, else returns bad request error.

          '
        schema:
          default: 50
          type: integer
          minimum: 1
          maximum: 100
      - name: filterTimeGt
        in: query
        description: 'If passed, filters out scorecards before passed time.

          Use ISO date-time format, eg: 2020-01-01T00:00:00Z. If invalid value is passed, results in bad request error.

          '
        schema:
          type: string
          format: date-time
      - name: filterTimeLt
        in: query
        description: 'If passed, filters out scorecards after passed time.

          Use ISO date-time format, eg: 2020-01-01T00:00:00Z. If invalid value is passed, results in bad request error.

          '
        schema:
          type: string
          format: date-time
      - name: filterRepId
        in: query
        description: 'This is a single-value parameter, if passed, will filter scorecards for the given user id who is getting scored for the call

          '
        schema:
          type: string
      - name: filterScorerId
        in: query
        description: 'This is a single-value parameter, if passed, will filter scorecards for the given user id, who are scoring the calls

          '
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorecardsResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getScorecard
      x-operation-id-source: derived
  /scorecard-template:
    get:
      tags:
      - Scorecard
      summary: List of scorecard templates
      description: This endpoint allows listing all the scorecard template and information about them
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorecardTemplateResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getScorecardTemplate
      x-operation-id-source: derived
components:
  schemas:
    PaginationInfo:
      title: Pagination info
      type: object
      properties:
        matched:
          type: integer
        hasMore:
          type: boolean
        nextPageSkip:
          type: integer
    ScoreCardTemplate:
      title: scorecard template object
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        name:
          type: string
        type:
          type: string
        questions:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardTemplateQuestion'
    Scorecard:
      title: scorecard object
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        rep:
          type: string
        scorer:
          type: string
        template_id:
          type: string
        call_id:
          type: string
        total_score:
          type: number
        remark:
          type: string
          description: Additional remarks or comments on the scorecard
        questions_score:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardQuestion'
    ScorecardQuestion:
      title: Questions in a scorecard
      type: object
      properties:
        score:
          type: integer
        skill:
          type: string
        label:
          type: string
        order:
          type: string
    ScorecardsResponse:
      title: List of Scorecards
      type: object
      properties:
        scorecards:
          type: array
          items:
            $ref: '#/components/schemas/Scorecard'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
    ScorecardTemplateQuestion:
      title: Questions in a scorecard
      type: object
      properties:
        skill:
          type: string
        label:
          type: string
        order:
          type: string
    ScorecardTemplateResponse:
      title: List of all Scorecard template
      type: object
      properties:
        scoreCardTemplates:
          type: array
          items:
            $ref: '#/components/schemas/ScoreCardTemplate'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
