openapi: 3.2.0
info:
  title: Clari API Reference Administrative API
  version: 5.0.0
  description: '# Clari API Reference

    Clari is the heartbeat of your revenue organization and holds your most important revenue data.'
  contact:
    name: us here! We're always happy to help with any questions.
    email: support@clari.com
servers:
- url: https://api.clari.com/{basePath}
  description: Clari gateway
  variables:
    basePath:
      default: v4
      description: version identifier
security:
- api_key: []
tags:
- name: Administrative API
paths:
  /admin/limits:
    get:
      summary: View limit information for your organization
      description: List information about API limits and aggregate consumption for your organization. The response will include your monthly quota and all active and completed jobs that contribute to that quota.
      operationId: limits
      parameters:
      - name: apikey
        in: header
        description: Authentication token.
        required: true
        schema:
          type: string
      tags:
      - Administrative API
      responses:
        '200':
          description: Success! View the limits and export jobs contributing to those limits for your organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    description: The limits for an org at the time of the call.
                    type: object
                    properties:
                      concurrentLimit:
                        type: integer
                        description: The maximum number of concurrent exports that can be queued or run at the same time.
                        example: 3
                      monthlyQuota:
                        type: integer
                        description: 'The maximum number of exports that can be run in a rolling 30 day period. The monthly quota is at the organization level and can be adjusted as needed. Please work with your CSM if you''d like to adjust your quota. '
                        example: 1000
                      runningJobIds:
                        type: array
                        description: 'List of jobs that are in the `RUNNING` state. If all jobs are complete or there is no in-progress job, you will not receive a list of `runningJobIds` in the response. '
                        items:
                          type: string
                        example:
                        - 6073680cac043e61f93bac07
                        - 607367f6304d430d58ab34ae
                      submittedJobIds:
                        type: array
                        description: List of jobs contributing to your monthlyQuota.
                        items:
                          type: string
                        example:
                        - 606e6f6f304d430d583fdd4c
                        - 606e2406304d430d5835db02
                        - 606e23c981a6da229d75b515
                      availableConcurrentLimit:
                        type: integer
                        description: The unused concurrent limit at the time. Concurrent limit - (running jobs + queued jobs)
                        example: 1
                      availableMonthlyQuota:
                        type: integer
                        description: 'The unused monthly quota at the time. Monthly quota - submitted jobs. Before creating an export job request, make sure you have available quota. If you have completed your monthly quota, your requests to Clari API will fail. '
                        example: 995
        '500':
          description: There was an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/paths/~1export~1activity/post/responses/500/content/application~1json/schema'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: apikey
      in: header
