openapi: 3.2.0
info:
  title: rest-api Scorecard API
  version: 1.0.0
  description: "Refer to our website to know more about [Clari Copilot](https://www.clari.com/products/copilot/).\n\n**To learn how to use the Clari Copilot API, please follow this <a href=\"https://community.clari.com/product-q-a-6/how-to-use-copilot-apis-2258\" target=\"_blank\">integration guide (link)</a>.**<br/> It explains how you get your API key, gives context on how the endpoints work together, and provides example code.\n\n# Authentication\n\nYou need to pass both API key and password in specified headers to authenticate with Clari Copilot API.\n\nExample curl command fetching users:\n\n<blockquote>\n  <code>\n    curl -H \"X-Api-Key:&lt;your_api_key&gt;\" -H \"X-Api-Password:&lt;your_api_password&gt;\" \"https://rest-api.copilot.clari.com/users\"\n  </code>\n</blockquote>\n\nYou'll find API key and secret in workspace settings > integrations > Clari Copilot API\n\n<img src=\"/assets/workspace-settings.png\" width=150 /><img src=\"/assets/integrations.png\" width=200 /><img src=\"/assets/apikey.png\" width=200 />\n\n<SecurityDefinitions />\n\n# Rate limit\n\nDefault rate limit is 10 per second.\n\nAlso 100k requests per week is also imposed. Week starts every Sunday 0 GMT.\n\n# Example\n\nHere is a python script that demonstrate how to fetch calls and print csv: <a href=\"./copilot_calls_example.py\" download>Calls example</a>\n\nHere is a python script that demonstrate how to use CRM endpoints: <a href=\"./copilot_crm_example.py\" download>CRM example</a>\n\n# Deprecation\n\nThis api's old domain https://rest-api.trywingman.com is deprecated and will be supported till end of 2023 to allow existing clients to migrate.\n"
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: scorecard
  description: Scorecards in Copilot
paths:
  /scorecard:
    get:
      tags:
      - scorecard
      summary: List of scorecard
      description: 'This endpoint allows listing scorecard by different parameters.

        Filter parameters have filter prefix and sort parameters have sort prefix.

        You can fetch only 100 scorecard in page, use skip and limit to scroll through scorecards.

        '
      parameters:
      - name: skip
        in: query
        description: 'Skip specified number of scorecards. Defaults to 0, if not passed. Should be integer, else returns bad request error.

          '
        schema:
          default: 0
          type: integer
          minimum: 0
          maximum: 10000
      - name: limit
        in: query
        description: 'Limits the number of scorecards returned to given number. Defaults to 50, if not passed. Should be integer, else returns bad request error.

          '
        schema:
          default: 50
          type: integer
          minimum: 1
          maximum: 100
      - name: filterTimeGt
        in: query
        description: 'If passed, filters out scorecards before passed time.

          Use ISO date-time format, eg: 2020-01-01T00:00:00Z. If invalid value is passed, results in bad request error.

          '
        schema:
          type: string
          format: date-time
      - name: filterTimeLt
        in: query
        description: 'If passed, filters out scorecards after passed time.

          Use ISO date-time format, eg: 2020-01-01T00:00:00Z. If invalid value is passed, results in bad request error.

          '
        schema:
          type: string
          format: date-time
      - name: filterRepId
        in: query
        description: 'This is a single-value parameter, if passed, will filter scorecards for the given user id who is getting scored for the call

          '
        schema:
          type: string
      - name: filterScorerId
        in: query
        description: 'This is a single-value parameter, if passed, will filter scorecards for the given user id, who are scoring the calls

          '
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorecardsResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
  /scorecard-template:
    get:
      tags:
      - scorecard
      summary: List of scorecard templates
      description: 'This endpoint allows listing all the scorecard template and information about them

        '
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorecardTemplateResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
components:
  schemas:
    ScorecardQuestion:
      title: Questions in a scorecard
      type: object
      properties:
        score:
          type: integer
        skill:
          type: string
        label:
          type: string
        order:
          type: string
    ScorecardsResponse:
      title: List of Scorecards
      type: object
      properties:
        scorecards:
          type: array
          items:
            $ref: '#/components/schemas/Scorecard'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
    ScorecardTemplateQuestion:
      title: Questions in a scorecard
      type: object
      properties:
        skill:
          type: string
        label:
          type: string
        order:
          type: string
    PaginationInfo:
      title: Pagination info
      type: object
      properties:
        matched:
          type: integer
        hasMore:
          type: boolean
        nextPageSkip:
          type: integer
    ScoreCardTemplate:
      title: scorecard template object
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        name:
          type: string
        type:
          type: string
        questions:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardTemplateQuestion'
    Scorecard:
      title: scorecard object
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        rep:
          type: string
        scorer:
          type: string
        template_id:
          type: string
        call_id:
          type: string
        total_score:
          type: number
        remark:
          type: string
          description: Additional remarks or comments on the scorecard
        questions_score:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardQuestion'
    ScorecardTemplateResponse:
      title: List of all Scorecard template
      type: object
      properties:
        scoreCardTemplates:
          type: array
          items:
            $ref: '#/components/schemas/ScoreCardTemplate'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
