openapi: 3.2.0
info:
  title: rest-api Topics API
  version: 1.0.0
  description: Refer to our website to know more about Clari Copilot.
  contact:
    name: Support
    email: copilot-support@clari.com
    url: https://api-doc.copilot.clari.com
  x-logo:
    url: /logo.png
servers:
- url: https://rest-api.copilot.clari.com
tags:
- name: Topics
  description: Topics in Copilot
paths:
  /topics:
    get:
      tags:
      - Topics
      summary: List of Keyword Topics
      description: Returns All unique keyword topics
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getTopics
      x-operation-id-source: derived
  /v2/topics:
    get:
      tags:
      - Topics
      summary: List of Topics
      description: 'Returns details of all topics.


        You can filter topics based on their last modified time using the following optional query parameters.


        ### Examples

        - All topics: `/v2/topics`

        - Topics modified **before** a date: `/v2/topics?filterModifiedLt=2000-01-01T00:00:00+0000`

        - Topics modified **after** a date: `/v2/topics?filterModifiedGt=2000-01-01T00:00:00+0000`

        - Topics modified **between two dates**: `/v2/topics?filterModifiedGt=2000-01-01T00:00:00+0000&filterModifiedLt=2025-01-01T00:00:00+0000`


        Use an ISO 8601 formatted datetime string (e.g., 2020-01-01T00:00:00+0000). Ensure the value is URL-encoded when used in a query string.'
      parameters:
      - name: filterModifiedLt
        in: query
        description: 'If passed, filters out topics modified (updated) after passed time.  Use ISO date-time format, eg: 2020-01-01T00:00:00Z.  If invalid value is passed, results in bad request error.

          '
        required: false
        schema:
          type: string
          format: date-time
      - name: filterModifiedGt
        in: query
        description: 'If passed, filters out topics modified (updated) before passed time.  Use ISO date-time format, eg: 2020-01-01T00:00:00Z.  If invalid value is passed, results in bad request error.

          '
        required: false
        schema:
          type: string
          format: date-time
      responses:
        200:
          description: A list of topics matching the filter criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TopicsResponse'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
      security:
      - api_key: []
        api_password: []
      operationId: getV2Topics
      x-operation-id-source: derived
components:
  schemas:
    V2TopicsResponse:
      title: List of Topics
      type: object
      properties:
        topics:
          type: array
          items:
            type: object
            properties:
              topic_id:
                type: string
              topic_name:
                type: string
              type:
                type: string
              team_ids:
                type: array
                items:
                  type: string
              custom_topic:
                type: object
                properties:
                  description:
                    type: string
                  status:
                    type: string
              keyword_topic:
                type: object
                properties:
                  trackers:
                    type: array
                    items:
                      type: string
    TopicsResponse:
      title: List of topics
      type: object
      properties:
        topics:
          type: array
          items:
            type: string
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
    api_password:
      type: apiKey
      name: X-Api-Password
      in: header
x-tagGroups:
- name: General
  tags:
  - call
  - user
  - topics
  - scorecard
- name: CRM Objects
  tags:
  - contact
  - account
  - deal
